# Ignore everything in this directory
*
# Except this file
!.gitignore

# Except the list of relevant segments
!segments.csv

# Except docker-compose.yml
!docker-compose.yml

# Except safety profiles
!safety.brf
