*.Rproj
data/*
api_keys/*
figures/*
.Rhistory
.Rproj.user
*.md
.DS_Store
!README.md
.Rhistory
*\.\#*
data
!data/
.RData
data-bkup/
data-bkup
*.R
*.bak
archive/
trash/
api_key
R/route_analysis.html
log/
# Exclude html files generated in the top directory (from RStudio runs)
./*.html
